@using WorkNotes.Models.RequestModel
@model UpdateDeployPackageIdRequestModel

<!-- AllCP Form Popup -->
<div id="addDeploymentModalForm-@Model.CheckInId" class=" popup-basic allcp-form mfp-with-anim mfp-hide" style="width:40%">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">
                <i class="fa fa-rocket"></i>Yeni Taşıma Ekle
            </span>
        </div>
        <!-- /Panel Heading -->

        <form method="post" action="@Url.Action("UpdateDeployPackageId","Project",null)">
            @Html.HiddenFor(x => x.CheckInId)
            @Html.HiddenFor(x => x.ProjectId)
            <div class="row">
                <div class="col-md-12">
                    <div class="section">
                        <h6><i class="fa fa-fingerprint"></i> @Html.DisplayNameFor(x => x.DeployPackageId) </h6>
                        @Html.TextBoxFor(x=>x.DeployPackageId, new{@class="form-control"})
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success pull-right" style="margin:10px">Kaydet</button>
                </div>
            </div>
            <!-- /Panel Footer -->
        </form>
    </div>
    <!-- /Panel -->
</div>
<!-- /Spec Form -->
