<!DOCTYPE html>
<html>
<head>
    <!-- Meta and Title -->
    <meta charset="utf-8">
    <title>WorkNotes</title>
    <meta name="keywords" content="WorkNotes" />
    <meta name="description" content="Software Development Process Notes">
    <meta name="author" content="onurkorunlu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/img/favicon.png">

    <!-- jQuery -->
    <script src="~/js/jquery/jquery-1.12.3.min.js"></script>
    <script src="~/js/jquery/jquery_ui/jquery-ui.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/forms.css">
    <link rel="stylesheet" type="text/css" href="~/css/theme.css">

    <!-- Vendors -->
    <link rel="stylesheet" type="text/css" href="~/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/notification/snackbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/datepicker/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/confirmjs/jquery-confirm.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/datatables/media/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/datatables/extensions/Editor/css/dataTables.editor.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/magnific/magnific-popup.css">

</head>
<body class="sales-stats-page sb-top sb-top-lg">



    <!-- Body Wrap -->
    <div id="main">
        <!-- Main Wrapper -->
        <section id="content_wrapper" class="mb80">
            <section class="content_container">

                <!-- Content -->
                <section id="content" class="animated fadeIn pt35 pb45">

                    <div class="content-left">
                        <ul class="nav nav-content">
                            <li class="@(Context.Request.Path.Value.Equals("/") ? "active" : "")">
                                <a href="@Url.Action("Index","Home")">
                                    <i class="fa fa-clock-o"></i>
                                    <span>Güncel Projeler</span>
                                </a>
                            </li>
                            <li class="@(Context.Request.Path.Value.Equals("/Project") ? "active" : "")">
                                <a href="@Url.Action("Index","Project")">
                                    <i class="fa fa-folder"></i>
                                    <span>Tüm Projeler</span>
                                </a>
                            </li>
                            <li class="@(Context.Request.Path.Value.Equals("/Project/ITSMList") ? "active" : "")">
                                <a href="@Url.Action("ITSMList","Project")">
                                    <i class="fa fa-warning"></i>
                                    <span>ITSM Kayıtları</span>
                                </a>
                            </li>
                            <li class="@(Context.Request.Path.Value.Equals("/Application") ? "active" : "")">
                                <a href="@Url.Action("Index","Application")">
                                    <i class="fa fa-clone"></i>
                                    <span>Uygulama Tanımı</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="content-right ">
                        @RenderBody()
                    </div>
                </section>
                <!-- /Content -->
                <!-- Page Footer -->
                <footer id="content-footer">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span class="footer-legal">© @DateTime.Now.Year All rights reserved. <a href="#">Therms of use</a> and <a href="#">Privacy policy</a></span>
                        </div>
                    </div>
                </footer>
                <!-- /Page Footer -->
            </section>
        </section>
    </div>
    <!-- /Body Wrap  -->
    <!-- Scripts -->
    <script src="~/js/main.js"></script>
    <script src="~/js/utility/utility.js"></script>

    <!-- Pages -->
    <script src="~/js/pages/Main/Main.js"></script>

    <!-- Vendors -->
    <script src="~/vendors/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/vendors/datepicker/locales/bootstrap-datepicker.tr.min.js"></script>
    <script src="~/vendors/notification/snackbar.min.js"></script>
    <script src="~/vendors/confirmjs/jquery-confirm.min.js"></script>
    <script src="~/vendors/typeahead/typeahead.bundle.min.js"></script>
    <script src="~/vendors/datatables/media/js/jquery.dataTables.js"></script>
    <script src="~/vendors/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
    <script src="~/vendors/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js"></script>
    <script src="~/vendors/datatables/media/js/dataTables.bootstrap.js"></script>
    <script src="~/vendors/magnific/jquery.magnific-popup.js"></script>
    <script src="~/vendors/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.concat.min.js"></script>


    <!-- /Scripts -->
    @if (TempData["ErrorMessage"] != null)
    {
        <script>
            Snackbar.show({
                    text: '@Html.Raw(TempData["ErrorMessage"])',
                    pos: 'bottom-right',
                    actionTextColor: '#fff',
                    backgroundColor: '#e7515a'
                });
        </script>
    }

</body>
</html>
