@using WorkNotes.Entities
@using WorkNotes.Models.RequestModel
@using WorkNotes.Models.ViewModel
@model IEnumerable<CheckInViewModel>

@{
    string tableGuidId = Guid.NewGuid().ToString();
}

<table class="table table-condensed btn-gradient-grey" id="@tableGuidId">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(x => x.ChangesetId)</th>
            <th>@Html.DisplayNameFor(x => x.Application.Name)</th>
            <th>@Html.DisplayNameFor(x => x.Description)</th>
            <th>@Html.DisplayNameFor(x => x.CreateDate)</th>
            <th>@Html.DisplayNameFor(x => x.DeployPackageId)</th>
            <th>@Html.DisplayNameFor(x => x.IsDeployed)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(x => !x.IsDbMigration).OrderBy(x => x.ChangesetId).ToList())
        {
            <tr>
                <td>@item.ChangesetId</td>
                <td>@item.Application.Name</td>
                <td>@item.Description</td>
                <td>@item.CreateDate</td>
                <td>
                    @if (item.DeployPackageId != null)
                    {
                        @item.DeployPackageId
                    }
                </td>
                <td>
                    @{
                        if (item.IsDeployed)
                        {
                            <i class="fa fa-check-circle" style="font-size:x-large"></i>
                        }
                        else
                        {
                            <i class="fa fa-times-circle" style="font-size:x-large"></i>

                        }
                    }
                </td>
                <td width="15%">
                    <a href="javascript:addNewDeployment('@item.Id');" class="btn btn-info" onclick="">
                        <i class="fa fa-truck"></i>
                    </a>
                    <a class="btn btn-danger" href="@Url.Action("DeleteCheckin","Project",new { ProjectId =item.ProjectId, Id = item.Id})">
                        <i class="fa fa-trash"></i>
                    </a>
                 @if (!item.IsDeployed)
                    {
                        <a href="@Url.Action("UpdateIsDeployStatus","Project",new { CheckInId=item.Id,IsDeployed=true, ProjectId = item.ProjectId})" class="btn btn-success">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("UpdateIsDeployStatus","Project",new { CheckInId=item.Id,IsDeployed=false, ProjectId = item.ProjectId})" class="btn btn-warning">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                    }

                </td>
            </tr>

            <partial name="_AddDeployPackage" model="new UpdateDeployPackageIdRequestModel(){CheckInId=item.Id, ProjectId = item.ProjectId, DeployPackageId = item.DeployPackageId}" />
        }
    </tbody>
</table>


<script>

    function loaded() {

        $('#@tableGuidId').dataTable({
            "aoColumnDefs": [{
                'bSortable': false,
                'aTargets': [-1]
            }],
            "oLanguage": {
                "oPaginate": {
                    "sPrevious": "",
                    "sNext": ""
                }
            },
            "iDisplayLength": 25,
            "aLengthMenu": [
                [5, 10, 25, 50, -1],
                [5, 10, 25, 50, "All"]
            ],
            "sDom": '<"dt-panelmenu clearfix"lfr>t<"dt-panelfooter clearfix"ip>'
        });
    };

    document.addEventListener('DOMContentLoaded', loaded, false);

</script>