@*@model IEnumerable<WorkNotes.Models.LogMonitoring>

@{
    string tableGuidId = Guid.NewGuid().ToString();
    string url = string.Empty;
}

<div class="col-md-12">

    <div class="table-responsive">
        <table class="table table-striped table-hover" id="@tableGuidId" cellspacing="0" width="100%">
            <thead>

                <tr>
                    <th>@Html.DisplayNameFor(x => x.HostName)</th>
                    <th>@Html.DisplayNameFor(x => x.Application)</th>
                    <th>@Html.DisplayNameFor(x => x.LogEnviroment)</th>
                    <th>@Html.DisplayNameFor(x => x.Url)</th>
                </tr>

            </thead>
            <tbody>

                @if (Model.Any())
                {
                    foreach (var log in Model.OrderByDescending(x => x.InsertDate).ToList())
                    {
                        url = log.Url;
                        if (string.IsNullOrEmpty(log.Url))
                        {
                            url = string.Concat(log.HostName, "/", log.Application, "/EsbStatus.aspx");
                        }

                        <tr>
                            <td>@log.HostName</td>
                            <td>@log.Application</td>
                            <td>@log.LogEnviroment</td>
                            <td><a href="http://@url">Git</a></td>

                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>




<script>

    function loaded() {

        // Multi-Column Filtering
        $('#@tableGuidId thead th').each(function () {
            var title = $('#@tableGuidId tfoot th').eq($(this).index()).text();
            $(this).html('<input type="text" class="form-control" placeholder="Search ' + title + '" />');
        });

        // DataTable
        var table5 = $('#@tableGuidId').DataTable({
            "sDom": 't<"dt-panelfooter clearfix"ip>',
            "ordering": false
        });

        // Apply search
        table5.columns().eq(0).each(function (colIdx) {
            $('input', table5.column(colIdx).header()).on('keyup change', function () {
                table5
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });


    };


    document.addEventListener('DOMContentLoaded', loaded, false);

</script>*@