@using WorkNotes.Entities
@using WorkNotes.Entities.Enums
@model IEnumerable<Project>

@{
    string tableGuidId = Guid.NewGuid().ToString();
}

<div class="col-md-12">

    <div class="table-responsive">
        <table class="table table-striped table-hover" id="@tableGuidId" cellspacing="0" width="100%">
            <thead>

                <tr>
                    <th></th>
                    <th>@Html.DisplayNameFor(x => x.Code)</th>
                    <th>@Html.DisplayNameFor(x => x.Title)</th>
                    <th>@Html.DisplayNameFor(x => x.CreateDate)</th>
                    <th>@Html.DisplayNameFor(x => x.UpdateDate)</th>
                    <th>@Html.DisplayNameFor(x => x.Status)</th>
                </tr>

            </thead>
            <tbody>

                @if (Model != null && Model.Any())
                {
                    foreach (var project in Model?.OrderByDescending(x => x.CreateDate).ToList())
                    {
                        var bgcolor = string.Empty;
                        switch (project.Status)
                        {
                            case ProjectStatus.DEV:
                                bgcolor = "#ee5744";
                                break;
                            case ProjectStatus.RFQ:
                                bgcolor = "#48b0f7";
                                break;
                            case ProjectStatus.UAT:
                                bgcolor = "#ff7444";
                                break;
                            case ProjectStatus.PREPROD:
                                bgcolor = "#10cfbd";
                                break;
                            case ProjectStatus.PROD:
                                bgcolor = "#47d178";
                                break;
                            case ProjectStatus.DONE:
                                bgcolor = "#47d178";
                                break;
                            case ProjectStatus.PENDING:
                                bgcolor = "#a9a9ab";
                                break;
                            case ProjectStatus.CANCELLED:
                                bgcolor = "#e5eaee";
                                break;
                            default:
                                break;
                        }
                        string tdColor = string.Empty;
                        if (project.Type == ProjectType.ITSM)
                        {
                            tdColor = "red";
                        }

                        <tr>
                            <td>
                                <a href="@Url.Action("Detail","Project",new { Id=project.Id.ToString()})" class="btn btn-info">
                                    <i class="fa fa-info"></i>
                                </a>
                            </td>
                            <td style="color:@tdColor">@project.Code</td>
                            <td style="color:@tdColor">@project.Title</td>
                            <td>@project.CreateDate</td>
                            <td>@project.UpdateDate</td>
                            <td style="color:white;background-color:@bgcolor">
                                <b>
                                    @project.Status

                                </b>
                            </td>

                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>




<script>

    function loaded() {

        $('#@tableGuidId').dataTable({
            "aoColumnDefs": [{
                'bSortable': false,
                'aTargets': [-1]
            }],
            "oLanguage": {
                "oPaginate": {
                    "sPrevious": "",
                    "sNext": ""
                }
            },
            "iDisplayLength": 10,
            "aLengthMenu": [
                [5, 10, 25, 50, -1],
                [5, 10, 25, 50, "All"]
            ],
            "sDom": '<"dt-panelmenu clearfix"lfr>t<"dt-panelfooter clearfix"ip>',
            "oTableTools": {
                "sSwfPath": "assets/js/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
            }
        });

    };


    document.addEventListener('DOMContentLoaded', loaded, false);

</script>