@using WorkNotes.Entities.Enums
@using WorkNotes.Models.RequestModel
@model AddProjectRequestModel
<!-- Column Center -->
<div class="chute chute-center">
    <div class="mw1000 center-block">
        <!-- Spec Form -->
        <div class="allcp-form">
            <div class="panel">
                <div class="panel-heading pbn">
                    <h5 class="panel-title pln ptn">Yeni Proje Ekle</h5>
                    <hr />
                </div>
                <div class="panel-body pn">
                    <form method="post" action="#" id="form">
                        <!-- Basic -->
                        <div class="row">
                            <div class="col-md-3">
                                <div class="section">
                                    <h6>@Html.DisplayNameFor(x => x.Code)</h6>
                                    @Html.TextBoxFor(x => x.Code, new { @Class = "form-control typeahead", @Style="text-transform:uppercase" })
                                    @Html.ValidationMessageFor(x => x.Code, "", new { @class = "text-danger", })
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="section">
                                    <h6>@Html.DisplayNameFor(x => x.Title)</h6>
                                    @Html.TextBoxFor(x => x.Title, new { @Class = "form-control" , @autocomplete="off"})
                                    @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger", })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="section">
                                    <h6>@Html.DisplayNameFor(x => x.Description)</h6>
                                    @Html.TextAreaFor(x => x.Description, new { @Class = "form-control" , @autocomplete="off", @Rows="3"})
                                    @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger", })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                                <div class="section">
                                    <h6>@Html.DisplayNameFor(x => x.Status)</h6>
                                    <select asp-for="Status" asp-items="Html.GetEnumSelectList(typeof(ProjectStatus))" class="form-control"></select>
                                    @Html.ValidationMessageFor(x => x.Status, "", new { @class = "text-danger", })
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="section">
                                    <h6>@Html.DisplayNameFor(x => x.TargetDate)</h6>
                                    <input id="TargetDatePicker" type="text" class="form-control" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success pull-right">Kaydet</button>
                            </div>
                        </div>
                    </form>
                    <!-- /form -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Column Center -->

<script src=~/js/pages/Project/add.js></script>
<script>
    //Variables
    var currentDate = '@Model.TargetDate?.ToString("MM'/'dd'/'yyyy")';
</script>